<div class="container">
    <div class="card">
        <div class="card-body list-region">

        </div>
    </div>
</div>

<p class="text-center">
    <a href="#" class="refresh btn btn-link">Refresh</a>
</p>
