<div class="col">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#dashboard" class="nav-link"><i class="fe fe-box"></i> Repositories</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fe fe-feather"></i> Instructions</a>
            <div class="nav-submenu nav">
                <a href="#instructions/pulling" class="nav-item">Pulling</a>
                <a href="#instructions/pushing" class="nav-item">Pushing</a>
                <% if (isDeleteEnabled()) { %>
                <a href="#instructions/deletion" class="nav-item">Deleting</a>
                <% } %>
            </div>
        </li>
    </ul>
</div>
