@import "~tabler-ui/dist/assets/css/dashboard";

/* Before any JS content is loaded */
#app > .loader, .container > .loader {
    position: absolute;
    left: 49%;
    top: 40%;
    display: block;
}

.tag-card {
    .pull-command {
        font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}

.pull-right {
    float: right;
}

.text-faded {
    opacity: 0.5;
}
