#app {
    > .loader {
        display: none;
        position: absolute;
        left: 49%;
        top: 40%;
    }

    &.loading > .loader {
        display: block;
    }
}

tbody tr {
    td {
        &.truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: table-cell;
            max-width: 100px; /* the value of this doesn't seem to matter */
        }
    }
}


.margin-bottom-5 {
    margin-bottom: 5px;
}


#repo {
    .loader {
        position: absolute;
        left: 49%;
        top: 40%;
        margin: 50px 0;
    }
}


.breadcrumb {
    font-size: 14px;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
}


.tags-list-region {

    .card-alert {
        min-height: 52px;
    }

    .delete-confirm, .delete-unsupported {
        display: none;
        transition: all 0.5s ease;
    }

    .pull-command {
        font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}
